body {
  background: url("http://2.bp.blogspot.com/-PH0sNCcwjR0/UiK7Z6yozuI/AAAAAAAAIMI/s5EVCbbtOas/s1600/Deadpool+Wade+Winston+Wilson+mercenary+Comic+Marvel+Heroes+Superhero+HD+Wallpaper+for+desktop+black+background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Comic Sans MS", "cursive";
}

.main-heading {
  color: white;
  text-align: center;
}

.sub-heading {
  color: white;
  font-size: 24px;
  margin-bottom: 50px;
  text-align: center;
}

.scorer {
  color: white;
}

.timer {
  color: white;
}

.callout {
  color: red;
}
