body{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color:#A70000;
}
.H4{
 font-family: "Comic Sans MS", cursive, sans-serif
  color:#FF0606;
}